body {
    padding-top: 15%;
    padding-left: 15%;
    background-color: black;
}

.box{
    width: 200px;
    height: 200px;
    background-color: blanchedalmond;
    /* transition-property: transform, background-color, scale;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s; */

    transition: transform 1s ease, background-color 1s linear, scale 1s ease;
}

.box:hover {
    transform: rotate(135deg);
    background-color: cyan;
    scale: 2;
}